name: {{ cann_file }}

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - "main"
    paths:
      - 'cann/{{ cann_file }}/**'
  release:
    types:
      - "published"
    paths:
      - 'cann/{{ cann_file }}/**'

jobs:
  run-build:
    uses: ./.github/workflows/main.yml
    with:
        target_name: {{ target.name }}
        context: {{ target.context }}
        dockerfile: {{ target.dockerfile }}
        repos: |
          {% for repo in repos %}
          {{ repo }}
          {% endfor %}
        ascend_repo: {{ ascend_repo }}
        common_registry_tags: |
          {% for tag in target.common_tags %}
          {{ tag }}
          {% endfor %}
        ascendhub_registry_tags: |
          {% for tag in target.ascendhub_tags %}
          {{ tag }}
          {% endfor %}
    secrets: inherit