name: Build CANN Images ({{ cann_file }})

on:
  workflow_dispatch:
  push:
    paths:
      - 'cann/{{ cann_file }}/**'
  pull_request:
    branches:
      - "main"
    paths:
      - 'cann/{{ cann_file }}/**'
  release:
    types:
      - "published"
    paths:
      - 'cann/{{ cann_file }}/**'

jobs:
  run-build:
    uses: ./.github/workflows/main.yml
    with:
        name: "{{ target.name }}"
        context: "{{ target.context }}"
        dockerfile: "{{ target.dockerfile }}"
        repos: |
          {% for repo in repos %}
          {{ repo }}
          {% endfor %}

        tags: |
          {% for tag in target.tags %}
          {{ tag }}
          {% endfor %}