name: Build and Publish CANN Image

on:
  workflow_dispatch:
    inputs:
      cann_tag:
        description: 'CANN unique tag'
        required: true
        default: '8.1.rc1-910b-ubuntu22.04-py3.10'
        type: choice
        options:
          - 8.2.rc1.alpha001-910b-ubuntu22.04-py3.10
          - 8.2.rc1.alpha001-910b-openeuler22.03-py3.10
          - 8.1.rc1-a3-ubuntu22.04-py3.10
          - 8.1.rc1-a3-openeuler22.03-py3.10
          - 8.1.rc1-910b-ubuntu22.04-py3.10
          - 8.1.rc1-910b-openeuler22.03-py3.10

      publish:
        description: 'Publish the image or not.'
        default: true
        type: boolean
        required: true

jobs:
  only-build:
    name: only build ${{ inputs.cann_tag }}
    if: ${{ !inputs.publish }} 
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: linux_x86_64_wxs
          - arch: aarch64
            runner: ubuntu-22.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        id: build
        with: 
          platforms: ${{ matrix.arch }}
          file: ${{ github.workspace }}/cann/${{ inputs.cann_tag }}/Dockerfile
          context: ${{ github.workspace }}/cann/${{ inputs.cann_tag }}
          outputs: type=image

  build-push-digest:
    name: build ${{ inputs.cann_tag }}
    if: ${{ inputs.publish }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: linux_x86_64_wxs
          - arch: aarch64
            runner: ubuntu-22.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Quay
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
          ecr: false
          logout: false

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to AscendHub
        uses: docker/login-action@v3
        with:
          registry: swr.cn-north-4.myhuaweicloud.com
          username: ${{ secrets.ASCENDHUB_USERNAME }}
          password: ${{ secrets.ASCENDHUB_TOKEN }}

      - name: Build and push by digest
        uses: docker/build-push-action@v6
        id: build
        with: 
          platforms: ${{ matrix.arch }}
          tags: |
            docker.io/wxsicey/cann
            quay.io/wxsicey/cann
            swr.cn-north-4.myhuaweicloud.com/wxs_test/cann
          file: ${{ github.workspace }}/cann/${{ inputs.cann_tag }}/Dockerfile
          context: ${{ github.workspace }}/cann/${{ inputs.cann_tag }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          provenance: false

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ inputs.cann_tag }}-${{ matrix.arch }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1
  
  push-image:
    runs-on: ubuntu-latest
    needs: build-push-digest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ inputs.cann_tag }}-*
          merge-multiple: true

      - name: Login to Quay
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to AscendHub
        uses: docker/login-action@v3
        with:
          registry: swr.cn-north-4.myhuaweicloud.com
          username: ${{ secrets.ASCENDHUB_USERNAME }}
          password: ${{ secrets.ASCENDHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare tags
        id: prepare-tags
        run: |
          TAGS=$(jq -r --arg cann_tag "${{ inputs.cann_tag }}" \
            '.versions[] | select(.path == "cann/" + $cann_tag) | .tags | join(",")' \
            publish_version.json)
          FIRST_TAG=$(echo "$TAGS" | cut -d',' -f1)
          
          TAGS_ARRAY=()
          for registry in "docker.io/wxsicey/cann" "quay.io/wxsicey/cann"; do
            for tag in $(echo "$TAGS" | tr ',' ' '); do
              TAGS_ARRAY+=("$registry:$tag")
            done
          done
          TAGS_ARRAY+=("swr.cn-north-4.myhuaweicloud.com/wxs_test/cann:$FIRST_TAG")
          
          echo "tags=$(jq -nc '$TAGS_ARRAY')" >> $GITHUB_OUTPUT

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        env:
          TAGS: ${{ steps.prepare-tags.outputs.tags }}
        run: |
          eval "TAGS_ARRAY=($(echo '$TAGS' | jq -r '.[]'))"
          for TAG in "${TAGS_ARRAY[@]}"; do
            if [[ "$TAG" == *"quay.io/ascend/cann"* ]]; then
              docker buildx imagetools create -t "$TAG" \
                $(printf 'quay.io/ascend/cann@sha256:%s ' *)
            elif [[ "$TAG" == *"docker.io/ascendai/cann"* ]]; then
              docker buildx imagetools create -t "$TAG" \
                $(printf 'docker.io/ascendai/cann@sha256:%s ' *)
            elif [[ "$TAG" == *"swr.cn-north-4.myhuaweicloud.com/wxs_test/cann"* ]]; then
              docker buildx imagetools create -t "$TAG" \
                $(printf 'swr.cn-north-4.myhuaweicloud.com/wxs_test/cann@sha256:%s ' *)
            else
              echo "Error: Unknown registry in TAG: $TAG"
              exit 1
            fi
          done
      
  

      

  
  


